$white: #ffffff;
$light-blue: #e7ecff;
$pale-gray: #cdd1d4;
$medium-gray: #939ea4;
$dark-gray: #5d6970;
$deep-navy: #091133;
$dark-blue: #111b47;
$navy-blue: #222f65;
$medium-blue: #37447e;
$rich-blue: #505f98;
$pastel-blue: #6f7cb2;
$lavender-blue: #929ecc;
