.header {
  padding-top: 12px;
  background-image: url('/assets/images/hero-img.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover cover;
  height: 110vh;
}
