.intro {
  padding-block: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @include media(992) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
    padding-block: 50px;
  }

  .intro__info {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    @include media(1200) {
      display: flex;
      flex-direction: column;
    }
    @include media(992) {
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
    }
  }

  .info__wrapper {
    max-width: 255px;
  }

  .info__title {
    font-size: 16px;
    font-weight: 500;
    color: $deep-navy;
    margin-block: 12px;
  }

  .info__text {
    font-size: 12px;
    color: $dark-gray;
  }

  .intro__img {
    @include media(576) {
      width: 300px;
    }
  }
}
