.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar__items {
    display: flex;
    gap: 60px;
    @include media(768) {
      display: none;
    }

    .navbar__link {
      font-size: 15px;
      color: $rich-blue;
    }
  }

  .sidenav-toggle {
    display: none;
    @include media(768) {
      display: block;
    }
  }
}
