.button {
  font-size: 16px;
  font-weight: 500;
  color: $white;
  padding: 10px 35px;
  border-radius: 3px;
  border: none;
  background-color: $dark-blue;
  transition: 0.3s;

  &:hover {
    background-color: $navy-blue;
  }
}

.outline-button {
  font-size: 16px;
  font-weight: 500;
  color: $dark-blue;
  padding: 10px 35px;
  border-radius: 3px;
  border: 2px solid $dark-blue;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    color: $white;
    background-color: $dark-blue;
  }
}
