.button {
  font-size: 16px;
  font-weight: 500;
  color: $white;
  padding: 6px 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: $dark-blue;
  transition: 0.3s;

  &:hover {
    background-color: $navy-blue;
  }
}

.outline-button {
  font-size: 16px;
  font-weight: 500;
  color: $dark-blue;
  padding: 5px 40px;
  border-radius: 3px;
  border: 2px solid $dark-blue;
  cursor: pointer;
  background-color: transparent;
}
