.main-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: $deep-navy;
}

.main-text {
  font-size: 16px;
  line-height: 26px;
  color: $pastel-blue;
  margin-block: 16px 40px;
}
